{
  "presets": [["@babel/preset-env", { "targets": { "node": "8" } }]],
  "plugins": [
    ["@babel/plugin-proposal-object-rest-spread", { "loose": true, "useBuiltIns": true }],
    ["@babel/plugin-proposal-optional-chaining", { "loose": true }]
  ]
}
